[Desktop Entry]
Type=Application
Name=Contacts
GenericName=Contacts Viewer
Comment=Browse your contacts
Exec=dexter-contacts
Icon=x-office-address-book
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=true
X-GNOME-Gettext-Domain=dexter-contacts
X-GNOME-Keywords=friends;address book;
X-AppInstall-Keywords=friends;address book;